apiVersion: v1
kind: Service
metadata:
  name: app-service
  labels:
    service: app-service
spec:
  type: NodePort
  ports:
  - port: 80
    protocol: TCP
    targetPort: 3000
  selector:
    service: api-service
